@model BREWCITY.Models.UnsecuredCreditCardInformation

@{
    ViewData["Title"] = "EditPaymentMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>UnsecuredCreditCardInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPaymentMethod">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyNameOnCreditCardRequired" class="control-label"></label>
                <input asp-for="CompanyNameOnCreditCardRequired" class="form-control" />
                <span asp-validation-for="CompanyNameOnCreditCardRequired" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCardNumber" class="control-label"></label>
                <input asp-for="CreditCardNumber" class="form-control" />
                <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVC" class="control-label"></label>
                <input asp-for="CVC" class="form-control" />
                <span asp-validation-for="CVC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="SavePaymentMethod" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PaymentMethods">Back to List</a> |
    <a asp-action="GetList">Start Shopping!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
