<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BREWCITY</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="shortcut icon" href="https://static.xx.fbcdn.net/images/emoji.php/v9/t50/1/32/1f37b.png" type="image/s-icon">
    <style>
        body, h1, h2, h3, h4, h5, h6 {
            font-family: "Karma", sans-serif
        }


        .w3-bar-block .w3-bar-item {
            padding: 20px
        }
    </style>
</head>
<body>
    <header>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <h2><a class="nav-link active" href="#">Brew City</a></h2>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="OurMessage">Our Message</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
        </ul>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BREWCITY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid bg-3 text-center">
        <h3>This Weeks Sponsered Drinks</h3><br>
        <div class="row">
            <div class="col-sm-3">
                <h3>Pale Lagers</h3>
                <img src="https://images.ctfassets.net/sz2xpiwl6od9/2Emtbk77wGMoLXvoKig2kX/47b9b3ffcf2c74423ba8111e66528ebd/flavor-fever-pale-lager.jpg?w=1600&fm=webp" class="img-responsive" height="250" alt="Image">
                <p></p>
            </div>
            <div class="col-sm-3">
                <h3>IPA</h3>
                <img src="https://ca-times.brightspotcdn.com/dims4/default/b9549d6/2147483647/strip/true/crop/1989x1610+0+0/resize/840x680!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F72%2F32%2F4eb4c6754d9fa876c34b61f6e4c0%2Fla-dd-calcook-decoding-the-different-styles-of-001" class="img-responsive" height="250" alt="Image">
                <p></p>
            </div>
            <div class="col-sm-3">
                <h3>Amber Ale</h3>
                <img src="https://cdn2.justwineapp.com/assets/article/2016/03/just-beer-amber-ale-dark-ale-red-ale-beer.jpg" class="img-responsive" height="250" alt="Image">
                <p></p>
            </div>
            <div class="col-sm-3">
                <h3></h3>
                <img src="https://static1.bigstockphoto.com/6/6/2/large2/266685739.jpg" class="img-responsive" height="250" alt="Image">
                <p></p>
                </div>

            <div class="w3-container w3-padding-32 w3-center">
                <h3>About Us, The Brew City Crew</h3><br>

                <div class="w3-padding-32">
                    <h6><i>With Passion For Real, Good Beer</i></h6>
                    <p>
                        We are dedicated to making your beer shopping experience as easy and efficient as possible, we thought to our selves "Why is it always such a hassle to buy beer and
                        see relevant reviews?". Well we went ahead and made this site for that very reason. A one stop shop to find quality beers in your area. Our services are for breweries to sell on
                        and Buisnesses to buy on. Being part of the Brew City family gives you access to make your buisiness boom, Welcome home
                        and enjoy your stay.
                    </p>
                </div>
                </div>

                

                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; 2021 - BREWCITY - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                </footer>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
